<div id="learn">
    <div class="headline" style="display:none;">
        融资融券业务介绍
        <a href="index.html" class="arrow"><img src="../images/icon-back.png" height="20" alt=""></a>
    </div>
    <div class="introduce">
        <h1 class="introduce-title">1.什么是融资融券？</h1>
        <div>融资融券是指证券公司向客户出借资金供其买入上市证券或出借上市证券供其卖出，并收取担保品的经营活动。</div>
        <h1 class="introduce-title">2.开通两融需要什么条件？</h1>
        <div class="introduce-text"><span class="dot">•</span>从事证券交易满半年；<br/>最近20个交易日的日均证券类资产不低于50万（含50万）。</div>
        <h1 class="introduce-title">3.客户到营业部申请两融开户需携带什么资料？</h1>
        <div class="introduce-text"><span class="dot">•</span>个人客户可携带身份证、银行卡（中、农、工、建、平安、招商）至普通账户开户营业部办理；</div>
        <div class="introduce-text"><span class="dot">•</span>港澳台客户与机构客户的具体要求可咨询营业部.</div>
        <h1 class="introduce-title">4.客户如何申请办理融资融券开户？</h1>
        <div><img src="images/introduce-flow.jpg" width="100%"></div>
        <h1 class="introduce-title">5.客户申请办理融资融券业务后，多长时间可以正常使用？</h1>
        <div>如果客户提供资料完备，回访正常，从客户临柜申请开通业务到正常使用，大约需要两个工作日。</div>
    </div>
</div>
