<@- include('../include/_header.ejs', {data:{title:"base"}}); @>
<body class="page-inner">

<article ng-view></article>

</body>
<@- include('../include/_footer.ejs',{data:{main: ["modules/base/base"]}}); @>