<div id="mocha"></div>
<link rel="stylesheet" href="libs/browser/mocha.css">
<script src="libs/mocha.js"></script>
<script src="libs/chai.js"></script>
<script>
    //mocha.setup('bdd');
    mocha.setup({
        ui: "bdd",
        ignoreLeaks: true
    });
</script>